@use '../abstract/variables' as *;


/* Margins  */

.mb-32 {
    margin-bottom: 32px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.sec-pad {
    padding-top: $section-spacing-y;
    padding-bottom: $section-spacing-y;

    @media (min-width: 992px) {
        padding-top: $section-spacing-y * 2;
        padding-bottom: $section-spacing-y * 2;
    }
}