@use '../abstract/variables' as *;

// _mixins.scss

// 1. The Zoom Effect
@mixin hover-zoom($scale: 1.15, $speed: 0.4s) {
    img {
        transition: transform $speed ease-in-out;
    }

    &:hover img {
        transform: scale($scale);
    }
}

// 2. The Dark Overlay Effect
@mixin hover-overlay($opacity: 0.1, $speed: 0.3s) {
    position: relative;
    overflow: hidden; // Ensures overlay doesn't spill out

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: rgba(0, 0, 0, $opacity); hover color for cards 
        opacity: 0;
        transition: opacity $speed;
        pointer-events: none; // Allows clicking the image/link underneath
    }

    &:hover::after {
        opacity: 1;
    }
}