/* Footer Styles  */

.footer-one {
    background-color: #1b1b1b;
    padding: 60px 0 30px 0;
    color: #fff;

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 10px;

            a {
                color: rgba(255, 255, 255, 0.7);
                transition: 0.3s;
                margin-bottom: 10px;
                font-size: 14px;

                &:hover {
                    color: $clr-primary;
                }
            }
        }

        // Specific style for the Opening Hours list
        &.timing-list {
            li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                color: rgba(255, 255, 255, 0.7);
                border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
                padding-bottom: 5px;
                font-size: 14px;

                span {
                    color: $clr-white;
                    font-size: 14px;
                }

                // Remove border from the last day (Sunday)
                &:last-child {
                    border-bottom: none;
                    margin-bottom: 0;
                }
            }
        }
    }

    .copyright {
        P {
            font-size: 14px;
        }



        .pipe-separator {
            padding: 0 10px;
        }
    }
}