// ===============================
// Brand color palette
// ===============================

// App primary theme colors 
$color-primary: #d32f2f; // Primary brand color
$color-primary-dark: #b51616; // For hover states and buttons
$color-off-white: #F8F9FA; // For section backgrounds to provide contrast

// Background colors
// $color-bg-light: #f1f7fa !important;
$color-bg-light: #f4f1ee !important;

// Text Colors
$color-text-primary: #1F2632;
$color-text-secondary: #527179;
$color-text-tertiary: #789299;
$color-text-white-primary: #fff;
$color-text-white-secondary: #b4b4b4;

// Borders
$color-border-primary: #dee2e6;
// $color-border-secondary: $color-accent-teal;

// ===============================
// Typography
// ===============================
$font-family-base: 'DM Sans', sans-serif;
$font-family-heading: "Playfair Display", serif;

// ===============================
// Layout tokens
// ===============================
$section-spacing-y: 40px;

// ===============================
// Gallery tokens
// ===============================
$gallery-height: 250px;
$gallery-zoom-speed: 0.4s;