/*

Red #ff3600
#ff553e 

*/

// Brand Colors
// $clr-primary: #D32F2F;
$clr-primary: #D14A00;
$clr-primary-dark: #B71C1C; // For hover states and buttons
$clr-white: #FFFFFF;
$clr-off-white: #F8F9FA; // For section backgrounds to provide contrast
$clr-black: #000000;

// Font 
$font-primary: 'DM Sans', sans-serif;
$font-secondary: "DM Serif Display",
    serif;

// Text & Neutral Colors
$text-primary: #1F2632;
$text-secondary: #527179;
$text-tertiary: #556b70;
$text-white: #fff;
$text-white2: #b4b4b4;

$border-color: #E0E0E0; // For dashed lines and separators

$section-spacing: 40px;