/*

Red #ff3600
#ff553e 

*/

// Brand Colors
$clr-primary: #D32F2F;
$clr-primary: #D14A00;
$clr-primary-dark: #B71C1C; // For hover states and buttons
$clr-white: #FFFFFF;
$clr-off-white: #F8F9FA; // For section backgrounds to provide contrast
$clr-black: #000000;

// Text & Neutral Colors
$text-main: #1A1A1A; // Near black for high readability
$text-muted: #6C757D; // Grey for descriptions/paragraphs
$border-color: #E0E0E0; // For dashed lines and separators


$section-spacing: 40px;