@use 'variables' as *;
@use 'navbar' as *;
@use 'footer' as *;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');



body {
  font-family: $font-primary;
  color: $text-primary;
}

.text-special {
  font-family: $font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
}

/* Buttons  */

.btn {
  border-radius: 4px;
}

.btn-primary,
.btn-outline-primary,
.btn-dark,
.btn-light {
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 300 !important;
}

// Primary Solid Button (Red)
.btn-primary {
  background-color: $clr-primary;
  border-color: $clr-primary;
  color: $clr-white;
  font-weight: 600;
  transition: all 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    background-color: $clr-primary-dark !important;
    border-color: $clr-primary-dark !important;
    color: $clr-white !important;
    box-shadow: 0 4px 12px rgba($clr-primary, 0.2);
  }
}

// Outline Button (Red Border, White Background)
.btn-outline-primary {
  color: $clr-primary;
  border-color: $clr-primary;
  background-color: transparent;

  &:hover {
    background-color: $clr-primary;
    border-color: $clr-primary;
    color: $clr-white;
  }
}

a {
  color: $clr-primary;
  text-decoration: none;
}

input,
textarea,
select {
  border-radius: 4px;
}

input {
  height: 45px !important;
}


.text-primary {
  color: $clr-primary !important;
}


.bg-light {
  background-color: $bg-light;
}

/* Margins  */

.mb-32 {
  margin-bottom: 32px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.sec-pad {
  padding-top: $section-spacing;
  padding-bottom: $section-spacing;

  @media (min-width: 992px) {
    padding-top: $section-spacing * 2;
    padding-bottom: $section-spacing * 2;
  }
}

/* Heading One  */

.head1 {
  h2 {
    color: $text-primary;
    font-size: 40px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    color: $text-secondary;
  }
}

/* Home Carousel  */

#homeCarousel {

  .carousel-item {
    height: 100vh;
    max-height: 900px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .carousel-caption-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .carousel-caption-wrap .carousel-caption {
    position: static;
    padding-top: 0;
    padding-bottom: 0;
    width: 90%;
    max-width: 1000px;
  }

  h1 {
    font-size: 75px;
  }

  p {
    font-size: 20px;
  }

  a {
    margin-top: 20px;
  }
}

/* Home About */

.home-about {
  padding: 80px 0;
}

/* Book Table */

.book-a-table-one {

  .book-table-img-section {
    background-image: url(../images/bnr1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 400px;
    border-radius: 15px 0 0 15px;

    @media (max-width: 767px) {
      border-radius: 15px 15px 0px 0px;
    }
  }

  .booking-form-wrap {
    background-color: $clr-primary;
    padding: 50px;
    height: 100%;
    border-radius: 0 15px 15px 0;

    @media (max-width: 767px) {
      border-radius: 0px 0px 15px 15px;
    }

    h2 {
      color: $clr-white;
      margin-bottom: 30px;
      font-weight: 700;
    }

    .form-control {
      margin-bottom: 20px;
      border: none;
      padding: 12px;
      border-radius: 4px;

      &::placeholder {
        color: #999;
      }
    }

  }

}

.book-a-table-two {
  padding: 80px 0;

  .form-control {
    margin-bottom: 32px;
    border-radius: 4px;
  }
}

/* Our menu  */

.menu-item-one {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px dashed $text-secondary;
  display: flex;

  img {
    height: 80px;
    width: 80px;
    border-radius: 15%;
    margin-right: 20px;
  }

  .content-wrap {
    width: 100%;
  }

  .title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5 {
      margin-bottom: 0;
      font-weight: 500;
      color: $text-primary;
    }

    .price {
      font-weight: 700;
      color: $clr-primary;
      font-size: 1.1rem;
    }
  }

  p {
    margin-top: 5px;
    margin-bottom: 16px;
    color: $text-secondary;
    font-size: 0.95rem;
  }

  &:last-child {
    @media (min-width: 768px) {
      border-bottom: none;
      margin-bottom: 0;
    }

    .col-md-6:last-child & {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

}

// Blog 

.card-blog,
.card-team {
  padding: 15px;
  border: 0px;
  background: $bg-light;
  border-radius: 10px;
  margin-bottom: 24px;

  .card-body {
    padding-bottom: 10px;
  }

  img {
    border-radius: 10px;
  }

  h5 {
    margin-bottom: 15px;
  }

  .card-text {
    color: $text-secondary;
  }

  span {
    font-size: 14px;
  }

  i {
    color: $text-tertiary;
  }
}

// Team carousel 