/*

Red #ff3600
#ff553e 

*/

/* Navbar logo width */

.nav-logo {
  max-width: 180px;
}

/* Navbar carousel */

.custom-navbar {

  .navbar-brand,
  .nav-link {
    color: #fff;
  }

  .nav-link {
    &:hover {
      color: #f8d28b;
    }
  }
}

/* Home Carousel  */

#homeCarousel {

  .carousel-item {
    height: 100vh;
    max-height: 1080px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .carousel-caption-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .carousel-caption-wrap .carousel-caption {
    position: static;
    padding-top: 0;
    padding-bottom: 0;
    width: 90%;
    max-width: 1000px;
  }

  h1 {
    font-size: 55px;
  }

  p {
    font-size: 20px;
  }

  a {
    margin-top: 20px;
  }
}

/* Home About */

.home-about {
  padding: 80px 0;
}

/* Book Table */

.book-a-table {
  padding: 80px 0;

  .form-control {
    margin-bottom: 32px;
  }
}

/* Our menu  */

.menu-item-one {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ddd;

  .title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5 {
      margin-bottom: 0;
      font-weight: 700;
      color: #333;
    }

    .price {
      font-weight: 700;
      color: #0d6efd;
      font-size: 1.1rem;
    }
  }

  p {
    margin-top: 5px;
    margin-bottom: 0;
    color: #6c757d;
    font-size: 0.95rem;
  }

  &:last-child {
    @media (min-width: 768px) {
      border-bottom: none;
      margin-bottom: 0;
    }

    .col-md-6:last-child & {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

}

/* Footer Styles  */

.footer-one {
  background-color: #1b1b1b;
  padding: 60px 0;
  color: #fff;
}