@use './abstract/variables' as *;
@use './layout/navbar' as *;
@use './layout/footer' as *;
@use './base/typography' as *;
@use './components/buttons' as *;
@use './components/forms' as *;
@use './components/badges' as *;
@use './components/loader' as *;
@use './components/carousel' as *;
@use './components/cards' as *;
@use './components/accordion' as *;
@use './components/gallery' as *;


body {
  background-color: yellow;
}

.bg-light {
  background-color: $color-bg-light;
}

.footer-one .social-links,
.contact-section .social-links {

  a {
    margin-bottom: 10px;

    &:hover {
      border-color: $color-primary !important;
      background-color: $color-primary !important;
    }
  }
}

/* Heading One  */

.head1 {
  h2 {
    color: $color-text-primary;
    font-size: 40px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    color: $color-text-secondary;
  }
}


/* Home About */

.home-about {
  padding: 80px 0;
}

/* Book Table */
.book-a-table-one {

  .book-table-img-wrap {
    height: 100%;
    min-height: 400px;
    overflow: hidden; // Keeps corners clean
    border-radius: 15px 0 0 15px;

    @media (max-width: 991px) {
      border-radius: 15px 15px 0px 0px;
    }
  }

  .book-table-img {
    width: 100%;
    height: 100%;
    object-fit: cover; // This is the magic line that mimics background-size: cover
    display: block;
  }

  .booking-form-wrap {
    background-color: $color-primary;
    padding: 50px;
    height: 100%;
    border-radius: 0 15px 15px 0;

    @media (max-width: 991px) {
      border-radius: 0px 0px 15px 15px;
      padding: 20px;
    }

    h2 {
      color: $color-text-white-primary;
      margin-bottom: 30px;
      font-weight: 700;
    }

    .form-control {
      margin-bottom: 20px;
      border: none;
      padding: 12px;

      &::placeholder {
        color: #999;
      }
    }

  }
}


.book-a-table-two {
  padding: 80px 0;

  .form-control {
    margin-bottom: 32px;
  }
}

/* Our menu  */

.menu-item-one {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px dashed $color-text-secondary;
  display: flex;

  img {
    height: 80px;
    width: 80px;
    border-radius: 15%;
    margin-right: 20px;
  }

  .content-wrap {
    width: 100%;
  }

  .title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5 {
      margin-bottom: 0;
      font-weight: 500;
      color: $color-text-primary;
    }

    .price {
      font-weight: 700;
      color: $color-primary;
      font-size: 1.1rem;
    }
  }

  p {
    margin-top: 5px;
    margin-bottom: 16px;
    color: $color-text-secondary;
    font-size: 0.95rem;
  }

  &:last-child {
    @media (min-width: 768px) {
      border-bottom: none;
      margin-bottom: 0;
    }

    .col-md-6:last-child & {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

}

// Menu end 

// Menu 2 

.h-100-img {
  width: 100%;
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
  display: block;

  // min-height for mobile so the image doesn't disappear if empty
  @media (max-width: 767px) {
    height: 300px;
  }
}

// Menu 2 end 



// Tesimonial 
.card-testimonial {

  .quote-icon {
    font-size: 62px !important;
    color: $color-primary;
  }

  .ratings {
    margin-bottom: 8px;

    i {
      color: $color-primary;
    }
  }

  .testi-user {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 22px;
  }

}

// Team carousel 

.img-collage-wrap {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 20px;

  img {
    position: absolute;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
    border: 4px solid white;
  }

  .first {
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .second {
    width: 45%;
    height: 300px;
    top: 15%;
    right: 0;
    z-index: 2;
  }

  .third {
    width: 200px;
    height: 200px;
    bottom: 18%;
    right: 20%;
    z-index: 3;
  }

  // Nested Media Query
  @media (max-width: 768px) {
    height: 400px;

    .first {
      width: 75%;
      height: 300px;
    }

    .second {
      width: 50%;
      height: 180px;
      top: 10%;
    }

    .third {
      width: 120px;
      height: 120px;
      bottom: 10%;
      right: 15%;
    }
  }
}

// contact section 

.contact-section ul {
  padding: 0px;

  li {
    display: block;
    margin: 0 0 15px;

    span {
      display: inline-block;
      min-width: 140px;
    }
  }

  .social-links {
    display: inline;

    a {
      border-color: $color-text-primary;

      i {
        color: $color-text-primary;
      }
    }
  }
}



// Faq styles 

.contact-block {
  background: $color-bg-light;
  border-radius: 15px;
  padding: 40px 20px 50px 20px;

  img {
    max-width: 200px;
    padding: 20px 0;
  }
}





// Terms and conditions page 

.terms-section,
.privacy-section {

  p {
    color: $color-text-secondary;
  }

  hr {
    margin: 32px 0;
    border-color: $color-border-primary ;
    opacity: 1;
  }
}

// Blog details page 

.blog-details-wrap {
  padding: 32px;
  border: 0px;
  background: $color-bg-light;
  border-radius: 10px;
  margin-bottom: 24px;

  header {
    .writer {
      display: flex;
      align-items: center;
      margin: 34px 0 20px 0;

      span {
        margin-right: 10px;
        font-size: 20px;
      }

      i {
        color: $color-primary;
        font-size: 20px;
      }
    }
  }

  img {
    border-radius: 10px;
  }


  p,
  li {
    color: $color-text-secondary;
  }

  i {
    margin-right: 8px;
  }

  ol {
    padding-left: 20px;

    li {
      margin-bottom: 15px;
    }
  }
}



// Testimoinial page styles 

.masonry-wrapper {
  column-count: 3;
  column-gap: 1.5rem;

  @media (max-width: 992px) {
    column-count: 2;
  }

  @media (max-width: 576px) {
    column-count: 1;
  }

  .card-testimonial {
    display: inline-block; // Important for some browser compatibility
    width: 100%;
    break-inside: avoid; // Prevents card from splitting between columns
  }
}