@use '../abstract/variables' as *;

/* Book Table */

.book-a-table-one {

    .book-table-img-wrap {
        height: 100%;
        min-height: 400px;
        overflow: hidden; // Keeps corners clean
        border-radius: 15px 0 0 15px;

        @media (max-width: 991px) {
            border-radius: 15px 15px 0px 0px;
        }
    }

    .book-table-img {
        width: 100%;
        height: 100%;
        object-fit: cover; // This is the magic line that mimics background-size: cover
        display: block;
    }

    .booking-form-wrap {
        background-color: $color-primary;
        padding: 50px;
        height: 100%;
        border-radius: 0 15px 15px 0;

        @media (max-width: 991px) {
            border-radius: 0px 0px 15px 15px;
            padding: 20px;
        }

        h2 {
            color: $color-text-white-primary;
            margin-bottom: 30px;
            font-weight: 700;
        }

        .form-control {
            margin-bottom: 20px;
            border: none;
            padding: 12px;

            &::placeholder {
                color: #999;
            }
        }

    }
}