@use '../abstract/variables' as *;

/* Buttons  */

.btn {
    border-radius: 4px;
}

.btn-wide {
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 300 !important;
}

// Primary Solid Button (Red)

.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-text-white-primary;
    font-weight: 600;
    transition: all 0.3s ease;

    &:hover,
    &:focus,
    &:active {
        background-color: $color-primary-dark !important;
        border-color: $color-primary-dark !important;
        color: $color-text-white-primary !important;
        box-shadow: 0 4px 12px rgba($color-primary, 0.2);
    }
}

// Outline Button (Red Border, White Background)

.btn-outline-primary {
    color: $color-primary;
    border-color: $color-primary;
    background-color: transparent;

    &:hover {
        background-color: $color-primary;
        border-color: $color-primary;
        color: $color-text-white-primary;
    }
}

// Button hover styles 

.btn-shine {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-1px);
        background-color: $color-primary-dark !important;
        border-color: $color-primary-dark !important;
    }

    &::after {
        content: "";
        position: absolute;
        top: -50%;
        left: -60%;
        width: 20%;
        height: 200%;
        background: rgba(255, 255, 255, 0.3);
        background: rgba($color-primary, 0.5);
        transform: rotate(30deg);
        transition: all 0.5s ease;
    }

    &:hover::after {
        left: 120%;
    }
}

// Button hover styles end

// link button styles 

.btn-link {
    /* Necessary to allow the transform to work smoothly */
    display: inline-block;
    margin-bottom: 0px !important;
    text-decoration: none;

    /* Defines how fast and smooth the movement is */
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
        /* Moves the entire text 5px to the right */
        transform: translateX(5px);

        color: $color-primary-dark;
    }
}

// link button styles end 