@use '../abstract/variables' as *;

/* Home Carousel */

.home-carousel {

    // Shared styles for the item

    .carousel-item {
        height: 100vh;
        max-height: 900px;
        min-height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    // Caption Wrapper 

    .carousel-caption-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        .carousel-caption {
            position: static;
            padding-top: 0;
            padding-bottom: 0;
            width: 90%;
            max-width: 1000px;
        }
    }

    h1 {
        font-size: 75px;
        line-height: 1.1;
        margin-bottom: 24px;

        @media (max-width: 767px) {
            font-size: 60px;
        }
    }

    p {
        font-size: 20px;
    }

    a {
        margin-top: 20px;
    }

    // Dark Background Version (Light Text)
    &.carousel-dark {
        .carousel-caption-wrap {
            background: rgba(0, 0, 0, 0.4); // Darker overlay for readability
        }

        h1,
        p {
            color: #ffffff;
        }
    }

    // Light Background Version (Dark Text)
    &.carousel-light {
        .carousel-caption-wrap {
            background: rgba(255, 255, 255, 0.3); // Lighter overlay
        }

        h1 {
            color: $color-text-primary;
        }

        p {
            color: $color-text-primary;
        }
    }
}

/*  Next and Previous button styles */
.carousel-control-prev,
.carousel-control-next {
    width: 60px;
    opacity: 1;
}

/* Create the Button Red Background */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: $color-primary;
    opacity: 0.7;
    padding: 22px;
    border-radius: 15%;
    background-size: 50%;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

/* Hover effect */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    background-color: $color-primary;
    transform: scale(1.1);
}