@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    height: $gallery-height;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform $gallery-zoom-speed ease-in-out;
    }

    // Mixins 
    @include hover-zoom(1.15, $gallery-zoom-speed);
    @include hover-overlay(0.1);

    // &:hover img {
    //     transform: scale(1.15);
    // }

    // // Subtle overlay on hover
    // &::after { 
    //     content: '';
    //     position: absolute;
    //     top: 0; 
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(0, 0, 0, 0.1);
    //     opacity: 0;
    //     transition: opacity 0.3s;
    // }

    // &:hover::after {
    //     opacity: 1;
    // }
}

// Modal styling to make the image pop

#galleryModal {
    .modal-content {
        background: transparent;
    }

    .btn-close {
        background-color: beige;
        opacity: 1;
    }

    #modalImage {
        max-height: 90vh;
        width: auto;
    }
}