@use '../abstract/variables' as *;

/* Footer Styles  */

.footer-one {
    // background-color: #1b1b1b;
    background-color: #2D2926;
    padding: 60px 0 30px 0;
    color: #fff;

    h5 {
        font-family: $font-family-base;
        color: $color-text-white-primary !important;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 10px;

            a {
                color: $color-text-white-secondary;
                transition: 0.3s;
                margin-bottom: 10px;
                font-size: 14px;

                &:hover {
                    color: $color-primary;
                }
            }
        }

        // Specific style for the Opening Hours list
        &.timing-list {
            li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                color: $color-text-white-secondary;
                border-bottom: 1px dotted $color-text-white-secondary;
                padding-bottom: 5px;
                font-size: 14px;

                span {
                    color: $color-text-white-primary;
                    font-size: 14px;
                }

                // Remove border from the last day (Sunday)
                &:last-child {
                    border-bottom: none;
                    margin-bottom: 0;
                }
            }
        }
    }

    .copyright {
        p {
            font-size: 14px;
        }

        .pipe-separator {
            padding: 0 10px;
        }

        a {
            color: #fff;

            &:hover {
                color: $color-primary;
            }
        }
    }

}